<div>
  <h1 class="display-1">
    Find your countries info!
  </h1>
</div>
<form class="standardMargin">
  <label class="standardMargin">Enter a countries ISO code here</label>
  <input class="form-control" [(ngModel)]="isosearch" name="isosearch"  (keyup)=onISOsearchKeyup($event)/>
</form>

<div class="alert alert-danger standardMargin" role="alert"  *ngIf="shouldShowInvalidISOWarning">
  Invalid ISO code.
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let country of countryList">
    <h2>{{country.id}} <small class="text-muted">- {{country.name}}</small></h2>
    <div>Region: <small class="text-muted">{{country.region.value}}</small></div>
    <div> Capital City: <small class="text-muted">{{country.capitalCity}}</small></div>
    <div> Longitude: <small class="text-muted">{{country.longitude}}</small></div>
    <div> Latitude: <small class="text-muted">{{country.latitude}}</small></div>
    
  </li>
</ul>

